<div class="container">
  <h2>Event Detail</h2>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">objectId</h3>
        </div>
        <div class="panel-body">
          <%= event.id %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">eventName</h3>
        </div>
        <div class="panel-body">
          <%= event.get('eventName')%>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">eventDescription</h3>
        </div>
        <div class="panel-body">
          <%= event.get('eventDescription')%>
        </div>
      </div>

      <% if (Parse.User.current() && Parse.User.current().get('group') === 2) { %>
        <p>
          <form action="/event/<%= event.id %>/edit">
            <button type="submit" class="btn btn-lg btn-default">Edit</button>
          </form>
        </p>
      <% } else { %>
        <p>
          Login to enroll or modify the event.
        </p>
      <% } %>

    </div>
  </div>  
</div>