<script type="text/javascript">
  document.title = document.title + " | Edit Event";
</script>

<div class="container">
  <h2><%= (!!event)? 'Edit event' : 'New event' %> </h2>
  <form id="editEventForm" method="post" 
        action="/event/<%= (!!event)? event.id + '/edit' : '/new' %>">
    <div class="form-group">
      <label for="name">Event Name: </label>
      <input type="text" class="form-control" id="event" name="name" 
             placeholder="Name for event"
             value="<%= ((!!event) && (!!event.get('name')))?event.get('name'):'' %>"/>
    </div>
    <div class="form-group">
      <label for="description">Event Description: </label>
      <textarea rows="6" type="text" class="form-control" id="description" name="description" 
                placeholder="Description for event"
                value="<%= ((!!event) && (!!event.get('description')))?event.get('description'):'' %>"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

<script>
$(document).ready(function() {
    $('#editEventForm').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: 'The name is required'
                    },
                    stringLength: {
                        min: 6,
                        max: 30,
                        message: 'The name must be more than 6 and less than 30 characters long'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_]+$/,
                        message: 'The name can only consist of alphabetical, number and underscore'
                    }
                }
            },
            price: {
                validators: {
                    notEmpty: {
                        message: 'The price is required'
                    },
                    numeric: {
                        message: 'The price must be a number'
                    }
                }
            }
        }
    });
});
</script>