<div class="container">
  <h2>Create New Event</h2>
  <form method="post" action="/event/new">
    <div class="form-group">
      <label for="eventName">Event Name: </label>
      <input type="text" class="form-control" id="event" name="eventName" placeholder="Name for Event">
    </div>
    <div class="form-group">
      <label for="description">Event Description: </label>
      <input type="text" class="form-control" id="description" name="eventDescription" placeholder="Description for Event">
    </div>
    <button type="submit" class="btn btn-default">Add</button>
  </form>
</div>