<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Account</h3>
  </div>
  <div class="panel-body">
    <form data-toggle="validator" role="form" method="post" action="/reset-password" class="form-signin">
      <div class="form-group">
        <label class="control-label">Old password</label>
        <input type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="Old password" required>
        <label class="control-label">New password</label>
        <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="New password" data-minlength="6" required>
        <span class="help-block">Minimum of 6 characters</span>
        <input type="password" class="form-control" id="newPasswordConfirm" data-match="#newPassword" data-match-error="Whoops, these don't match" placeholder="Confirm password" required>
        <div class="help-block with-errors"></div>
        <button type="submit" class="btn btn-primary">Change password</button>
      </div>
      <script type="text/javascript" src="/js/validator.js"></script>
    </form>
  </div>
</div>
