<div class="container">
  <h2>Volunteer Dashboard</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Updated</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i=0; i<events.length; ++i) { %>
        <% var event = events[i] %>
        <tr>
          <td><%= event.get('name')%></td>
          <td><%= event.get('description')%></td>
          <td><%= event.updatedAt%></td>
          <td><%= event.createdAt%></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>