<div class="container">
  <p><%= message %></p>
  <form method="post" action="/login" class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="input" class="sr-only">Email address</label>
    Username: <input type="text" name="username" /><br />
    Password: <input type="password" name="password" /><br />
    <input class="button" type="submit" value="Log in">
  </form>
</div>