<p><%= message %></p>
<form method="post" action="/login">
  <p>
    Username: <input type="text" name="name" /><br />
    Password: <input type="password" name="password" /><br />
    <input class="button" type="submit" value="Log in">
  </p>
</form>