<div class="container">
  <form method="post" action="/signup" class="form-signin">
    <h3 class="form-signin-heading">Sign up for LOVOY</h3>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus/>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="text" id="inputEmail" name="email" class="form-control" placeholder="Email" required/>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    <label class="radio-inline">
      <input type="radio" name="group" value=1>Orgnization
    </label>
    <label class="radio-inline">
      <input type="radio" name="group" value=2>Volunteer
    </label>
    <br>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
  </form>
</div>