<!DOCTYPE html>
<html>
<head>
  <title>Lovoy</title>
</head>
<body>
  <div>
    <h1>Lovoy</h1>
    <p>Lovoy is a mobile volunteer platform that streamlines the volunteering process from start to finish.
Using Lovoy, users can easily choose and register for volunteering events, keep personal record and build a close-knit community.</p>
  </div>
</body>
</html>
