<div class="container">
  <h1>LOVOY</h1>
  <p>LOVOY is a mobile volunteer platform that streamlines the volunteering process from start to finish.
Using LOVOY, users can easily choose and register for volunteering events, keep personal record and build a close-knit community.</p>
  <script type="text/javascript">
    $('head').append('<link rel="stylesheet" href="/css/welcome.css" type="text/css" />');
  </script>
</div>
