<div class="form-group">
  <label for="inputAddress" class="control-label">Address</label>
  <input type="text" name="address" class="form-control" id="inputAddress" placeholder="Address" value="<%= (!!profile.get('address'))?profile.get('address'):'' %>" required>
</div>