<div class="form-group">
  <label for="inputBirthday" class="control-label">Birthday</label>
  <div class='input-group date' id='datetimepicker'>
    <input data-format="MM/DD/YYY" type="text" name="birthday"
    class="form-control" id="inputBirthday" placeholder="Birthday"
    value="<%= (!!profile.get('birthday'))?profile.get('birthday'):'' %>"></input>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    $('#datetimepicker').datetimepicker({
      format: 'MM/DD/YYYY', // time is 'LT'
      viewMode: 'years'
    });
  });
</script>
