<div class="form-group">
  <label for="inputContactPhone" class="control-label">Contact Phone</label>
  <input type="text" name="contactPhone" class="form-control" id="inputContactPhone" placeholder="Contact Phone" value="<%= (!!profile.get('contactPhone'))?profile.get('contactPhone'):'' %>" required>
</div>


