<div class="form-group">
  <label for="inputContactName" class="control-label">Contact Name</label>
  <input type="text" name="contactName" class="form-control"
         id="inputContactName" placeholder="Contact Name"
         value="<%= (!!profile.get('contactName'))?profile.get('contactName'):'' %>">
</div>
