<div class="form-group">
  <label for="inputGender" class="control-label">Gender</label>
  <input type="text" name="gender" class="form-control" id="inputGender" placeholder="Gender" value="<%= (!!profile.get('gender'))?profile.get('gender'):'' %>"required>
</div>

