<div class="form-group">
  <label for="inputLanguage" class="control-label">Language</label>
  <input type="text" name="language" class="form-control" id="inputLanguage" placeholder="Language" value="<%= (!!profile.get('language'))?profile.get('language'):'' %>" required>
</div>

