<div class="form-group">
  <label for="inputName" class="control-label">Name</label>
  <input type="text" name="name" class="form-control" id="inputName" placeholder="Name" value="<%= (!!profile.get('name'))?profile.get('name'):'' %>" required>
</div>


