<div class="form-group">
  <label for="inputProfession" class="control-label">Profession</label>
  <input type="text" name="profession" class="form-control" id="inputProfession" placeholder="Profession" value="<%= (!!profile.get('profession'))?profile.get('profession'):'' %>" required>
</div>
