<div class="form-group">
  <label for="inputZipcode" class="control-label">Zipcode</label>
  <input type="text" name="zipcode" class="form-control" id="inputZipcode" placeholder="Zipcode" value="<%= (!!profile.get('zipcode'))?profile.get('zipcode'):'' %>" required>
</div>