<div class="container">
  <form method="post" action="/forgot-password" class="form-signin">
    <h3 class="form-signin-heading">Enter your email address to reset password</h3>
    <div class="form-group">
      <!-- <label for="email" class="control-label">Username</label> -->
      <input type="text" name="email" class="form-control" id="email" placeholder="Email address">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
  </form>
</div>
