<div class="form-group">
  <label for="inputBirthday" class="control-label">Birthday</label>
  <input type="text" name="birthday" class="form-control" id="inputBirthday" placeholder="Birthday" value="<%= (!!profile.get('birthday'))?profile.get('birthday'):'' %>" required>
</div>

