<div class="form-group">
  <label for="inputContactEmail" class="control-label">Contact Email</label>
  <input type="text" name="contactEmail" class="form-control" id="inputContactEmail" placeholder="ContactEmail" value="<%= profile.get('contactEmail')%>" required>
</div>