<div class="form-group">
  <label for="inputContactPhone" class="control-label">Contact Phone</label>
  <input type="text" name="contactPhone" class="form-control" id="inputContactPhone" placeholder="ContactPhone" value="<%= profile.get('contactPhone')%>" required>
</div>