<div class="form-group">
  <label for="inputFirstName" class="control-label">First Name</label>
  <input type="text" name="firstName" class="form-control" id="inputFirstName" placeholder="First Name" value="<%= (!!profile.get('firstName'))?profile.get('firstName'):'' %>" required>
</div>

