<div class="form-group">
  <label for="inputLastName" class="control-label">Last Name</label>
  <input type="text" name="lastName" class="form-control" id="inputLastName" placeholder="Last Name" value="<%= (!!profile.get('lastName'))?profile.get('lastName'):'' %>" required>
</div>

