<div class="container">
  <h2>Organization Profile Management Page</h2>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <!-- reset password -->
      <% include ./password-edit %>

      <!-- id -->
      <% include ./id-view %>

    </div>
  </div>
</div>
