<script type="text/javascript">
  document.title = document.title + " | My Profile";
</script>

<div class="container">
  <h2>Volunteer Profile Management Page</h2>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <!-- profile details -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">My profile (please fill the undefined fields)</h3>
        </div>
        <div class="panel-body">
          <form data-toggle="validator" role="form" method="post" action="/profile/edit">
            <% include ./partial/first-name-edit %>
            <% include ./partial/last-name-edit %>
            <% include ./partial/contact-email-edit %>
            <% include ./partial/contact-phone-edit %>
            <% include ./partial/birthday-edit %>
            <% include ./partial/zipcode-edit %>
            <% include ./partial/address-edit %>
            <% include ./partial/gender-edit %>
            <% include ./partial/profession-edit %>
            <% include ./partial/language-edit %>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
            <script type="text/javascript" src="/js/validator.js"></script>
          </form>
        </div>
      </div>

      <!-- reset password -->
      <% include ./partial/password-edit %>

      <!-- id -->
      <% include ./partial/id-view %>

      <script type="text/javascript" src="/js/validator.js"></script>
    </div>
  </div>
</div>
