<div class="form-group">
  <label for="inputWebsite" class="control-label">Website</label>
  <input type="text" name="website" class="form-control" id="inputWebsite" placeholder="Website" value="<%= profile.get('website')%>" required>
</div>